.nav-contenedor{
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
        &__nav{
            &-titulo{
                font-size: 1rem;
            }
        }
}
.contenedor_imagen-principal__img{
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
